# RawVelo — Client Configuration
role: "client"

log:
  level: "info"

socks5:
  - listen: "127.0.0.1:1080"
    username: ""
    password: ""

network:
  interface: "eth0"
  ipv4:
    addr: "YOUR_LOCAL_IP:0"
    router_mac: "YOUR_GATEWAY_MAC"
  tcp:
    local_flag: ["PA"]
    remote_flag: ["PA"]
  pcap:
    sockbuf: 134217728  # 128 MB

server:
  addr: "YOUR_SERVER_IP:8443"

transport:
  protocol: "kcp"
  conn: 3
  kcp:
    mode: "fast3"
    mtu: 1350
    rcvwnd: 2048
    sndwnd: 2048
    dshard: 10
    pshard: 3
    block: "aes"
    key: "YOUR_KEY_HERE"
    smuxbuf: 16777216
    streambuf: 8388608
    smuxkalive: 5
    smuxktimeout: 15

# باید با سرور یکی باشه
obfs:
  enabled: true
  key: "YOUR_OBFS_KEY_HERE"
  padding: true
  jitter: false
  camouflage: false
  adaptive_fec: true
